body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6ed8c;
}
.container{
    border: 1px solid black ;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 75, 75);
    
    
    .input{
        padding: 5px;
        margin-bottom: 20px;
        height: 15px;
        input{
            height: 20px;
            text-align: right;
            
        }

    }
    .row1, .row2, .row3, .row4, .row5{

        #mul,#div, #sub, #add,#equals{
            background-color: orange;
            color: white;
        }
        display: flex;
        gap: 5px;
        margin-bottom: 5px;
        button{
            width: 40px;
            height: 40px;
            font-size: 18px;
            border-radius: 10px;
        }
        }
        .row5{
            #equals{
                width: 85px;
            }
    }
}

